
.modal {
  border: 1px dotted yellow;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  height: 100%;

  background-color: rgb(202, 199, 199);
}

.modal-container {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 17px 4px rgba(80,82,8,0.67);
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f8da9f;
}

.modal-container button {
  border: 0;
  padding: 8px;
  background-color: rgb(245, 32, 32);

  font-size: 20px;
  border-radius: 3px;
  color: white;
  width: 100px;
  margin: 10px auto 5px;
}

.modal-header {
  font-size: 18px;
  font-variant: small-caps;
  text-align: center;
}
.info {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 10px;
  font-size: 18px;
}

.info span {
  font-size: 20px;
  font-weight: 600;
}
