body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.services-block {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  border: 2px solid blue;
  width: 100px;
  height: 150px;
  margin: 5px;
}

